# data & caches
data/
*.pkl
*.parquet
*.duckdb
# outputs
reports/*.png
reports/*.csv
# python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
# env
.venv/
venv/
.env
# os
.DS_Store
